!!!
%html
  %head
    %link{rel: 'stylesheet', type: "text/css", href: "./index.css"}
    %script{type: "text/javascript", src: "http://localhost:1337/livereload.js"}
  %body
    #startGame
      Start Game
    %script{type: "text/javascript", src: "./app.js"}
