!!!
%html
  %head
    %script{type: "text/javascript", src: "http://localhost:1337/livereload.js"}
  %body{style: "overflow: hidden; cursor: none; margin: 0; padding: 0;"}
    %script{type: "text/javascript", src: "./app.js"}
