!!!
%html
  %head
    %link{rel: 'stylesheet', type: "text/css", href: "./index.css"}
    %script{type: "text/javascript", src: "http://localhost:1337/livereload.js"}
  %body
    #mainMenu
      %button#startGame
        Start Game
      %button#hammerColor
        Hammer Color
    %script{type: "text/javascript", src: "./app.js"}
